<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href='/img/weather.png'>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <h2>Thank you for visiting this section!</h2>
        <p>I created this weather app following Udemy <a
                href='https://www.udemy.com/course/the-complete-nodejs-developer-course-2/'>NodeJS</a> course. During
            the project, I learned <b>JavaScript</b>, <b>NodeJS</b>, <b>Express</b> and <b>Heroku</b>. </p>
        <p>This app is using a free public API called <a href='https://weatherstack.com/documentation'>Weatherstack
                API</a> in order to fetch weather data.</p>
        <img class='portrait' src="/img/P5284508.JPG">
    </div>

    {{>footer}}
</body>

</html>