body {
    color:#333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    line-height: 1.7;

    background-image: linear-gradient(to right bottom,
    rgba(246, 248, 103, 0.8),
    rgba(84, 196, 122, 0.8))
}

.main-content {
    flex-grow: 1;
}

.main-content a {
    text-decoration: none
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

footer {
color: #8854cc;
border-top: 1px solid #8854cc;;
margin-top: 16px;
padding: 16px, 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;

    animation: moveinfromLeft 0.7s ease-out;
}

header a{
    color: #8854cc;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
    border-radius: 25% 10%;
}

input {
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    border-radius: 15px;
    background: #888888;
    color: white;
    padding: 8px; 
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

@keyframes moveinfromLeft{
    0% {
        opacity: 0;
        transform: translateX(-75px); 
    }

    80% {
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }

}